<!DOCTYPE html>
<html lang="zh-CN">
<head>
    #include("../../assets/html/head.html")
    <title>十二生肖</title>
</head>
<body>

#include("../../assets/html/menu.html")   

<div id="main-business" class="container">

    <div id="kabei_wrapper" class="row justify-content-md-center">
        <img class="card_bk" src="../../assets/img/card_bk.png" />
    </div>
    <div id="card_wrapper" class="row justify-content-md-center hide">
        
        <div class="card" style="width: 18rem;">
            <div class="lv">
                <div>LV.1</div>
                <!--<small>0/1000</small>-->
            </div>
            <div class="hero-type hero-type1"></div>
            <div class="hero-attr">
                <div class="attr li">0</div>
                <div class="attr min">0</div>
                <div class="attr zhi">0</div>
            </div>
            <img src="../../assets/img/hero/3.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">#1524</h5>
            </div>
        </div>
    </div>
    <div class="row" style="justify-content: center;">
        <div id="chouka_approve_btn" class="text-center chouka_btn bg2">step1.授权</div>
        <div id="chouka_btn" class="text-center chouka_btn bg4 hide">step2.抽卡</div>
        <div id="chouka_done" class="text-center chouka_btn bg5 hide">确定</div>
    </div>
</div>

#include("../../assets/html/footer.html")
</body>
</html>
