<!DOCTYPE html>
<html lang="zh-CN">
<head>
    #include("../../assets/html/head.html")
    <title>十二生肖</title>
</head>
<body>

#include("../../assets/html/menu.html")   

<div class="container">
    <div  id="main-business" class="row">
        <div class="hero hide">
            <div class="lv">
                <div>LV.1</div>
                <!--<small>0/1000</small>-->
            </div>
            <div class="hero-type hero-type1"></div>
            <div class="hero-attr">
                <div class="attr li">0</div>
                <div class="attr min">0</div>
                <div class="attr zhi">0</div>
            </div>
            <img src="../../assets/img/hero/101.jpg" class="hero-img-top" alt="">
            <div class="hero-body">
                <h5 class="hero-title">#1524</h5>
            </div>
        </div>
    </div>
</div>

#include("../../assets/html/footer.html")
</body>
</html>
