
.card_bk {
    margin:2rem auto;
    width: 18rem;
}
.chouka_btn {
    width:8rem;
    height:3rem;
    line-height:3rem;
    border-radius: 1.5rem;
    color:#dfe9ac;
    margin: 1rem 0 2rem;
}
